/* MainTab.css */

.main-container {
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid grey;
  padding: 16px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.search-bar:focus {
  outline: none;
  border-color: #007BFF;
}

.main-tab-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.tab-item {
  width: 100%;
  margin: 0 8px;
  padding: 8px 0 8px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
}

.tab-item.selected {
  background-color: #5FC5A0;
}

.tab-item.disabled {
  cursor: not-allowed;
}

.tab-item img {
  height: 24px;
  width: 24px;
}

.tab-item .label {
  font-size: 14px;
  font-weight: bold;
}

.premium-container {
  margin-bottom: 20px;
  display: "flex";
  flex-direction: "column";
  justify-content: center;
  align-items: center;
}

.premium-label {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.premium-button {
  margin-top: 20px;
  padding: 8px 0 8px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #5FC5A0;
}